<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.web.today.TodayMapper">

    <select id="getTodayResult" resultType="com.smhrd.web.today.TodayResultDTO">
        SELECT
            TO_CHAR(TRUNC(SYSDATE), 'YYYY-MM-DD') AS todayDate,
    		COUNT(*) AS todayCount, 
            COUNT(DISTINCT C.ANLS_RESULT) AS insectTypeCount,
            COUNT(DISTINCT G.GH_NAME) AS zoneCount
        FROM 
            QC_CLASSIFICATION C
        JOIN 
            QC_GREENHOUSE G ON C.GH_IDX = G.GH_IDX
        WHERE 
            TRUNC(C.CREATED_AT) = TRUNC(SYSDATE)
    </select>



</mapper>
